body {
    background-color: #d6d6d6;
    font-size: 35px;
}

@keyframes cuidado {
    0% {top: 0px; left: 0px; opacity: 0%;}
    20% {opacity: 100%;}
    100% {top: 700px;}
}

.pretoinicial {
    background-color: #000000FF;
    position: fixed;
    width: 90px;
    height: 90px;
    position: relative;
    animation-timing-function: linear;
    animation-name: cuidado;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    margin: 0px;
}

#2 {

}