:root {

    --preto-total: #000000;
    --cinza-escuro: #3a3a3a;
    --cinza: #5f5f5f;
    --cinza-claro: #929292;
    --branco: #e4e4e4;
    --branco-total: #ffffff;
    --violeta: #5b00b1;
    --purpura: #b600e4;
    --rosa-choque: #ff22c8;
    --rosa-claro:#fd89d1;
    --azul-claro: #5cccf8;
    --ciano: #06a7a7;
    --azul-escuro: #0a43be;
    --azul-futuro: #007eaf;
    --vermelho: #e70000;
    --vermelho-escuro: #7c0000;
    --bege: #886464;
    --amarelo: #fdd700;
    --amarelo-podre: #87a500;
    --dourado: #daa001;
    --verde-escuro: #006308;
    --verde-claro: #00b818;
    
}


body {
    background-color: var(--cinza-escuro);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('fundotechno5.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}

#contexto {
    font-size: 35px;
    text-align: center;
    color: var(--azul-futuro);
    background-color: rgba(59, 59, 59, 0.6);
    margin-left: 30%;
    margin-right: 30%;
    margin: 10%;
    animation-name: fade-in;
    animation-duration: 3s;
 }

 #botaocontexto {
    text-align: center;
    width: 300px;
    height: 60px;
    font-size: 30px;
    margin: auto;
    display: block;
    background-color: var(--azul-futuro);
    color: var(--cinza-escuro);
    transition-duration: 0.8s;
    border-radius: 8px;
    animation-name: fade-in;
    animation-duration: 3s;
 }
 #botaocontexto:hover {
    color: var(--azul-futuro);
    background-color: var(--cinza-escuro);
    cursor: pointer;

 }

 #contexto2 {
    text-align: center;
    color: var(--azul-futuro);
    font-size: 30px;
    animation-name: fade-in;
    animation-duration: 3s;

 }

 @keyframes fade-in {
    from {opacity: 0%;}
    to {opacity: 100%;}
 }