:root {

    --preto-total: #000000;
    --cinza-escuro: #3a3a3a;
    --cinza: #5f5f5f;
    --cinza-claro: #929292;
    --branco: #e4e4e4;
    --branco-total: #ffffff;
    --rosa-choque: #f83ec9;

}


body {
    font-size: 40px;
}

#gradiente {
    background-image: linear-gradient(--cinza-escuro, --rosa-choque);
}